.grid-wrapper {
	display: grid;
	grid-template-rows: repeat(6, 100px);
	grid-template-columns: repeat(6, minmax(50px, 200px));

}

.game-field {
	background-color: orange;
  	min-height: 10vh;
  	margin: 1px 1px 1px 1px;
  	line-height: 10vh;
}

.target {
  	background-color: green;
  	color: white;
  	font-size: 24pt;
  	text-align: center;
}

.miss {
  	background-color: red;
}

.angry{
	color: red;
	font-style: bold;
}

.great-job{
	color: green;
	font-style: bold;
}

.button-reload{
	cursor: pointer;
}
